.name-style {
    text-align: center;
}

/* hero mian component text */
.hero-text-other-pages {
    padding: 1em;
    max-width: 100%;
}

.small-description-other-pages {
    padding-top: 1em;
    font-family: jost, sans-serif;
    opacity: 1;
    text-align: center;
    font-size: 1.2em;
}

.about-me-card-styles {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 95%;
    min-height: 280px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 6px 0px #FFFFFF;
    z-index: 2;
    border-radius: 15px;
    padding-left: 1em;
    overflow: scroll;
    margin-top: 1em;
}

.about-me-card-styles::-webkit-scrollbar {
    width: 0;
}

.about-me-card-styles h1 {
    font-size: larger;
    font-weight: bolder;
    line-height: 1.5em;
}

.about-me-card-styles p {
    font-size: larger;
    line-height: 1.5em;
}

.tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5em;
    overflow: scroll;
    text-decoration: underline;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
}

.tab-container::-webkit-scrollbar {
    width: 0;
}

.tab-container-active {
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 5px 0px #FFFFFF;
    padding: 0.5em;
    border-radius: 5px;
}

.achievement-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.project-container {
    display: none;
    flex-direction: column;
    gap: 2em;
    justify-content: center;

}

.blog-container {
    display: none;
    flex-direction: column;
    gap: 2em;
    justify-content: center;

}

.cats-container {
    display: none;
    flex-direction: column;
    gap: 2em;
    justify-content: center;

}

.tab-content-container {
    display: flex;
    padding: 1em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.about-me-description {
    margin-top: 1rem;
    font-size: 20px;
    line-height: 1.7;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 2rem;
}

/* animate text opacity from 0 to 1, used in script */
@keyframes text-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* animate circle from opacity 0 to 1 on Y axis */
@keyframes circle-animation {
    0% {
        opacity: 0;
        transform: translate(0%, -200%) scale(1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

/* this animation handle nav-menu hidden property from opacity 1 to 0 on X axis */
@keyframes circle-hide-animation {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

/* this animation handle nav-menu show property */
@keyframes circle-show-animation {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* for the screen size 480px and larger*/
@media screen and (min-width: 30em) {
    .main-hero-container {
        height: 400px;
    }

    .skill-container {
        flex-direction: row;
        transform: rotate(0deg);
        transition: all 1s;
    }

    .skill-card {
        flex-basis: calc(100% / 2 - 10px);
    }

    .small-description-other-pages {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 580px) {}

/* for the screen size 768px and larger */
@media screen and (min-width: 48em) {
    .main-hero-container {
        height: 95vh;
    }

    .small-description-other-pages {
        font-size: 2em;
    }


    .achievement-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2em;
    }

    .blog-container {
        flex-direction: row;
        gap: 2em;
    }

    .project-container {
        flex-direction: row;
        gap: 2em;
    }

    .cats-container {
        flex-direction: row;
        gap: 2em;
    }

    .about-me-card-styles {
        max-width: 280px;
    }
}

/* for the screen size 960px and larger*/
@media screen and (min-width: 60em) {}

/* for the screen size 1160px and larger*/
@media screen and (min-width: 72.5em) {}