/* hero mian component text */
.hero-text-other-pages {
    padding: 1em;
    max-width: 100%;
}

.name-style {
    font-size: 2em;
    font-weight: bolder;
    font-family: jost, sans-serif;
    text-align: center;
}

.small-description-other-pages {
    padding-top: 1em;
    font-family: jost, sans-serif;
    opacity: 1;
    text-align: center;
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    max-width: 90%;
    justify-content: center;
}

.submit-button {
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-size: larger;
    font-weight: bold;
    padding: 0.4em 1em;
}

.label-field {
    font-size: larger;
    font-weight: bolder;
}

.input-style {
    border-radius: 15px;
    padding: 0.6em 1em;
    width: 250px;
}

.desktop-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* animate text opacity from 0 to 1, used in script */
@keyframes text-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* animate circle from opacity 0 to 1 on Y axis */
@keyframes circle-animation {
    0% {
        opacity: 0;
        transform: translate(0%, -200%) scale(1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

/* this animation handle nav-menu hidden property from opacity 1 to 0 on X axis */
@keyframes circle-hide-animation {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

/* this animation handle nav-menu show property */
@keyframes circle-show-animation {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* for the screen size 480px and larger*/
@media screen and (min-width: 30em) {
    .skill-container {
        flex-direction: row;
        transform: rotate(0deg);
        transition: all 1s;
    }

    .skill-card {
        flex-basis: calc(100% / 2 - 10px);
    }

    .small-description-other-pages {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 580px) {}

/* for the screen size 768px and larger */
@media screen and (min-width: 48em) {

    .small-description-other-pages {
        font-size: 2em;
    }


    .submit-button {
        background-color: var(--secondary-color);
        border-radius: 15px;
        color: var(--primary-color);
        font-size: larger;
        font-weight: bold;
        padding: 0.6em 1.4em;
    }

    .label-field {
        font-size: 1.4em;
        font-weight: bolder;
    }

    .input-style {
        border-radius: 15px;
        width: 420px
    }

    main {
        min-height: 0px;
    }
}

/* for the screen size 960px and larger*/
@media screen and (min-width: 60em) {}

/* for the screen size 1160px and larger*/
@media screen and (min-width: 72.5em) {}